.table_yellow {
    background-color: rgb(241, 167, 30);
}

.table_green{
    background-color: rgb(60, 211, 60);
}

.table_red{
    background-color: rgb(211, 58, 58);
}

.table_color {
    background-color: #bdbdbd;
}